@import url("https://fonts.googleapis.com/css2?family=Exo+2&display=swap");

:root {
  --primary-50: #fff;
  --primary-100: #ddebe8;
  --primary-300: #67e8f9;
  --primary-500: #0a9fb9;
  --primary-600: #2088a1;
  --primary-700: #0e7490;
  --primary-900: #000000;
  --primary-10: #f0f5f7;
  --secondary-100: #f1f5f9;
  --secondary-500: #64748b;
  --secondary-900: #0f172a;
  --red-100: #fee2e2;
  --red-300: #fca5a5;
  --red-500: #da2121;
  --red-700: #dc2626;
  --green-300: #bef264;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-700: #439971;
  --try: #36b378;
  --green: #20c997;
  --orange: #fdba74;
  --orange-300: #ffedd5;
  --purple: #e9d5ff;
  --purple-200:#ec97c3;
  --lime: #ecfccb;
  --rose: #fff1f2;

  --cyan: #ecfeff;
  --background: linear-gradient(
    45deg,
    rgba(2, 170, 189, 1) 0%,
    rgba(0, 205, 172, 1) 100%
  );
  --background-hover: linear-gradient(
    45deg,
    rgb(2, 133, 148) 0%,
    rgb(6, 167, 140) 100%
  );

  --border-radius: 4px;
}

body {
  font-family: "Poppins", sans-serif;
  /* font-family: ibm plex sans arabic, sans-serif; */
  background-color: var(--primary-50);
  margin: 0;
  padding: 0;
}

/* navbar background */
.nav {
  background: var(--background);
}
.green {
  background: var(--green);
}
.text-green {
  color: var(--green);
}

/* text */
.text-primary {
  color: var(--primary-500) !important;
}
.text-dull {
  color: var(--secondary-500) !important;
  font-size: 13px;
}
.text-warning-light {
  color: #ffca9b!important;
}
.text-success {
  color: #02aabd!important;
}
.text-purple{
  color:#7b13c0
}

/* background */
.bg-primary {
  background-color: var(--primary-600) !important;
}
.bg-orange {
  background-color: var(--orange) !important;
}
.bg-orange-300 {
  background-color: var(--orange-300) !important;
}
.bg-primary-300 {
  background-color: var(--primary-10) !important;
}
.bg-purple {
  background-color: var(--purple) !important;
}
.bg-rose {
  background-color: var(--rose) !important;
}
.bg-cyan {
  background-color: var(--cyan);
}
.bg-warning {
  background-color: #ff9a40!important;
}
.bg-purple-200 {
  background-color:var(--purple-200);
}

/* button */
.btn {
  border-radius: var(--border-radius);
}

.btn-primary {
  color: var(--secondary-100);
  background: var(--primary-500);
  border: none;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  color: var(--secondary-100);
  background: var(--primary-600) !important;
  border: none;
}

.btn-danger {
  color: var(--secondary-100);
  background: var(--red-500);
  border: none;
}

.btn-danger:hover {
  color: var(--secondary-100);
  background: var(--red-700);
  border: none;
}

.btn-success {
  color: var(--secondary-100);
  background: var(--green-500);
  border: none;
}

.btn-success:hover {
  color: var(--secondary-100);
  background: var(--green-700);
  border: none;
}
.btn-warning {
  color: var(--secondary-100);
  background: var(--background);
  border-radius: 20px;
  border: none;
}
.btn-warning:hover {
  color: var(--secondary-100);
  background: var(--background-hover);
}

/* form */
.form-control,
.form-control:focus {
  color: var(--primary-500);
  background-color: var(--bs-body-bg);
  border-color: var(--primary-500);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--primary-300);
}

.form-label {
  color: var(--primary-900);
  font-size: medium;
  font-weight: lighter;
}

/* .border {
  border-right-color: var(--primary-300) !important;
} */
.border1 {
  border: none;
  border-color: none !important;
  width: 30px;
}

/* background color */
.bg-body-tertiary {
  background-color: var(--primary-100) !important;
}

/* Custom */
.error {
  background-color: var(--red-100);
  margin: 8px 0px;
  padding: 2px 6px;
  display: block;
  color: var(--red-700);
  border-radius: var(--border-radius);
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.sideBarActive,
.sideBarActive > a,
.sideBarActive > a:hover,
.sideBarActive > a:active {
  color: var(--primary-500);
  background-color: var(--primary-50) !important;
  padding: 8px;
}

.sideBarItem,
.sideBarItem > a {
  color: var(--primary-500);
  padding: 8px;
}

.sideBarItem > a:hover {
  color: var(--primary-500);
}

.sideBarActive > .fa-solid {
  color: var(--primary-500);
}

.sideBarItem:hover {
  color: var(--primary-500);
  background-color: var(--primary-50);
  padding: 8px;
}

/* Icon */
.fa-solid {
  color: var(--primary-300);
}

.loader {
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  opacity: 0.5;
  background-color: #000;
  z-index: 99;
  left: 0;
  top: 0;
}

.lottie-loader {
  width: 150px !important;
  height: 150px !important;
  position: absolute;
  top: 40%;
  left: 45%;
}

.offcanvas {
  /* width: 250px !important; */
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #0aa9bd;
  border-radius: 50px;
  background-size: 17px;
}
.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}
.card:hover {
  padding: 10px;
  border-color: var(--primary-500);
}
td,th{
  text-align: center;
}
tr{
vertical-align: middle;
}